
<div class="content-body">
  <div class="container-fluid">


  <div class="row">
          <div class="col-xl-12">
            <a class="btn btn-dark  " >+ Add Car</a>
<br><br>
              <div class="card">
                      <div class="row align-items-center">
                          <div class="table-responsive ">
                              <table class="table table-striped align-middle table-nowrap">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="Avatar-lga">
                                                  <img src="https://optim.tildacdn.net/tild3565-3132-4363-a130-326262623934/-/resize/824x/-/format/webp/25_years_car_side_on.png" class="img-fluid rounded" alt="">
                                              </div>
                                          </td>

                                          <td>
                                              <div>
                                                  <h5 class="font-size-18"><a href="ecommerce-product-detail.html" class="text-dark">Waterproof Mobile Phone</a></h5>
                                                  <p class="text-muted mb-0 mt-2 pt-2">
                                                      <i class="bx bxs-star text-warning"></i>
                                                      <i class="bx bxs-star text-warning"></i>
                                                      <i class="bx bxs-star text-warning"></i>
                                                      <i class="bx bxs-star text-warning"></i>
                                                      <i class="bx bxs-star-half text-warning"></i>
                                                  </p>
                                              </div>
                                          </td>

                                          <td>
                                              <ul class="list-unstyled ps-0 mb-0">
                                                  <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> 12MP TrueDepth front camera </p></li>
                                                  <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> Battery life: Up to 22 hours of video playback</p></li>
                                                  <li><p class="text-muted mb-0 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> 5G and Gigabit LTE</p></li>
                                              </ul>
                                          </td>

                                          <td style="width: 180px;">
                                              <p>Colors :</p>
                                              <ul class="list-inline mb-0 text-muted product-color">
                                                  <li class="list-inline-item">
                                                      <i class="mdi mdi-circle font-size-16 text-dark"></i>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <i class="mdi mdi-circle font-size-16 text-success"></i>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <i class="mdi mdi-circle font-size-16 text-primary"></i>
                                                  </li>
                                              </ul>
                                          </td>

                                          <td style="width: 220px;">
                                              <h3 class="mb-0 font-size-20"><span class="text-muted me-2"></span><b>$450</b></h3>
                                          </td>

                                          <td>
                                              <button type="button"  routerLink="/admin/detCar" class="btn btn-primary waves-effect waves-light color"> View</button>
                                          </td>

                                          <td>
                                              <div class="dropdown float-end">
                                                  <a class="text-muted dropdown-toggle font-size-20" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                      <i class="bx bx-dots-horizontal-rounded"></i>
                                                  </a>
                                                  <div class="dropdown-menu dropdown-menu-end">
                                                      <a class="dropdown-item" href="#">Edit</a>
                                                      <a class="dropdown-item" href="#">Remove</a>
                                                  </div>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr>
                                        <td>
                                            <div class="Avatar-lga">
                                                <img src="https://optim.tildacdn.net/tild3565-3132-4363-a130-326262623934/-/resize/824x/-/format/webp/25_years_car_side_on.png" class="img-fluid rounded" alt="">
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                <h5 class="font-size-18"><a href="ecommerce-product-detail.html" class="text-dark">Waterproof Mobile Phone</a></h5>
                                                <p class="text-muted mb-0 mt-2 pt-2">
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star-half text-warning"></i>
                                                </p>
                                            </div>
                                        </td>

                                        <td>
                                            <ul class="list-unstyled ps-0 mb-0">
                                                <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> 12MP TrueDepth front camera </p></li>
                                                <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> Battery life: Up to 22 hours of video playback</p></li>
                                                <li><p class="text-muted mb-0 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> 5G and Gigabit LTE</p></li>
                                            </ul>
                                        </td>

                                        <td style="width: 180px;">
                                            <p>Colors :</p>
                                            <ul class="list-inline mb-0 text-muted product-color">
                                                <li class="list-inline-item">
                                                    <i class="mdi mdi-circle font-size-16 text-dark"></i>
                                                </li>
                                                <li class="list-inline-item">
                                                    <i class="mdi mdi-circle font-size-16 text-success"></i>
                                                </li>
                                                <li class="list-inline-item">
                                                    <i class="mdi mdi-circle font-size-16 text-primary"></i>
                                                </li>
                                            </ul>
                                        </td>

                                        <td style="width: 220px;">
                                            <h3 class="mb-0 font-size-20"><span class="text-muted me-2"></span><b>$450</b></h3>
                                        </td>

                                        <td>
                                            <button type="button"  routerLink="/admin/detCar" class="btn btn-primary waves-effect waves-light color"> View</button>
                                        </td>

                                        <td>
                                            <div class="dropdown float-end">
                                                <a class="text-muted dropdown-toggle font-size-20" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item" href="#">Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>
                                          <div class="Avatar-lga">
                                              <img src="https://optim.tildacdn.net/tild3565-3132-4363-a130-326262623934/-/resize/824x/-/format/webp/25_years_car_side_on.png" class="img-fluid rounded" alt="">
                                          </div>
                                      </td>

                                      <td>
                                          <div>
                                              <h5 class="font-size-18"><a href="ecommerce-product-detail.html" class="text-dark">Waterproof Mobile Phone</a></h5>
                                              <p class="text-muted mb-0 mt-2 pt-2">
                                                  <i class="bx bxs-star text-warning"></i>
                                                  <i class="bx bxs-star text-warning"></i>
                                                  <i class="bx bxs-star text-warning"></i>
                                                  <i class="bx bxs-star text-warning"></i>
                                                  <i class="bx bxs-star-half text-warning"></i>
                                              </p>
                                          </div>
                                      </td>

                                      <td>
                                          <ul class="list-unstyled ps-0 mb-0">
                                              <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> 12MP TrueDepth front camera </p></li>
                                              <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> Battery life: Up to 22 hours of video playback</p></li>
                                              <li><p class="text-muted mb-0 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> 5G and Gigabit LTE</p></li>
                                          </ul>
                                      </td>

                                      <td style="width: 180px;">
                                          <p>Colors :</p>
                                          <ul class="list-inline mb-0 text-muted product-color">
                                              <li class="list-inline-item">
                                                  <i class="mdi mdi-circle font-size-16 text-dark"></i>
                                              </li>
                                              <li class="list-inline-item">
                                                  <i class="mdi mdi-circle font-size-16 text-success"></i>
                                              </li>
                                              <li class="list-inline-item">
                                                  <i class="mdi mdi-circle font-size-16 text-primary"></i>
                                              </li>
                                          </ul>
                                      </td>

                                      <td style="width: 220px;">
                                          <h3 class="mb-0 font-size-20"><span class="text-muted me-2"></span><b>$450</b></h3>
                                      </td>

                                      <td>
                                          <button type="button" routerLink="/admin/detCar" class="btn btn-primary  color"> View</button>
                                      </td>

                                      <td>
                                          <div class="dropdown float-end">
                                              <a class="text-muted dropdown-toggle font-size-20" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                  <i class="bx bx-dots-horizontal-rounded"></i>
                                              </a>
                                              <div class="dropdown-menu dropdown-menu-end">
                                                  <a class="dropdown-item" href="#">Edit</a>
                                                  <a class="dropdown-item" href="#">Remove</a>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>



                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>



      </div>
